- var entries = inEntries

mixin entryL(name, url)
  li
    div
      a(href="/nav" + url)= name

h1= inCategory
div#categoriesWrapper
  ul
    each val in entries
      +entryL(val.title, val.url)

    
