h1 Create Account
form(action= "/account/createAccount" method="post")
  div Choose your login
  input(type="text", name="login")
  div Choose your password
  input(type="password", name="password")
  div Repeat your password
  input(type="password", name="password_r")
  div Enter your email address
  input(type="text", name="email")
  div Repeat your email address
  input(type="text", name="email_r")
  div.inputWrap
    input(type="submit", value="Submit")
