mixin charEntry(stat)
  td.stat= stat
  td.inp  
    input.col(type="text", name=stat)
    
mixin dropDownEntry(name)
  option(value=name)=name

h1 New Entry
div Here You can add new entry to the catalog
  form(action= "/nav/addEntry" method="post")
    div.inputWrap
      div Title:
      input.col(type="text", name="title")
    div.inputWrap
      div Class:
      div.comment The category the monster belongs to
      select(name="class")
        each val in inCategories
          +dropDownEntry(val)
    div.inputWrap
      div Description:
      input.col(type="text", name="description")
    div.inputWrap Table
      table#AttributeTable
        tbody
          tr
            +charEntry("ST")
            +charEntry("HP")
            +charEntry("Speed")
          tr
            +charEntry("DX")
            +charEntry("Will")
            +charEntry("Move")
          tr
            +charEntry("IQ")
            +charEntry("Per")
            +charEntry("SM")
          tr
            +charEntry("HT")
            +charEntry("FP")
            +charEntry("Pr")
          tr
            +charEntry("Dodge")
            +charEntry("Parry")
            +charEntry("Dr")
    div.inputWrap
      div Attacks
      input.col(type="text", name="attacks")
    div.inputWrap
      div Traits
      input.col(type="text", name="traits")
    div.inputWrap
      div Skills
      input.col(type="text", name="skills")
    div.inputWrap
      div Notes
      input.col(type="text", name="notes")  
    div.inputWrap
      input(type="submit", value="Submit")
    
