mixin charEntry(stat)
  td.stat= stat
  td.inp  
    input.col(type="text", name=stat)

h1 New Entry
div Here You can add new entry to the catalog
  form(action= "/nav/addEntry" method="post")
    div.inputWrap
      div Title:
      input.col(type="text", name="title")
    div.inputWrap
      div Class:
      div.comment The category the monster belongs to
      input.col(type="text", name="class")
    div.inputWrap
      div Description:
      input.col(type="text", name="description")
    div.inputWrap Table
      table#AttributeTable
        tbody
          tr
            mixin charEntry("ST")
            mixin charEntry("HP")
            mixin charEntry("Speed")
          tr
            mixin charEntry("DX")
            mixin charEntry("Will")
            mixin charEntry("Move")
          tr
            mixin charEntry("IQ")
            mixin charEntry("Per")
            mixin charEntry("SM")
          tr
            mixin charEntry("HT")
            mixin charEntry("FP")
            mixin charEntry("Pr")
          tr
            mixin charEntry("Dodge")
            mixin charEntry("Parry")
            mixin charEntry("Dr")
    div.inputWrap
      div Traits
      input.col(type="text", name="traits")
    div.inputWrap
      input(type="submit", value="Submit")
    
