- var mUser = inpUser

html
  head
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    div#wrapper
      div#header
        include ./Wrap/header
      div#container
        div#navigation
          include ./Wrap/hNav
        div#leftcolumn
          include ./Wrap/navigationBar
        div#rightcolumn
          include ./includes/categoryContent
      div#footer
        include ./Wrap/footer
    
