- var mUser = inpUser
- var content = inContent
- var template = content.template

html
  head
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    div#wrapper
      div#header
        div.headerTitle Lev Bestiary
        div.subHeaderTitte 
          i Bestiary of the Void
      div#container
        div#navigation
          include ./Wrap/hNav.jade
        div#leftcolumn
          include ./Wrap/navigationBar.jade
        div#rightcolumn
          case template
            when "main"
              include ./includes/mainContent.jade
            default
              include ./includes/content.jade
      div#footer
        p
          i Made by Kasparas as a training task
    
