- var mUser = inpUser
- var content = inContent
- var template = content.template

html
  head
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    div#wrapper
      div#header
        include ./Wrap/header.jade
      div#container
        div#navigation
          include ./Wrap/hNav.jade
        div#leftcolumn
          include ./Wrap/navigationBar.jade
        div#rightcolumn
          case template
            when "main"
              include ./includes/mainContent.jade
            default
              include ./includes/content.jade
      div#footer
        include ./Wrap/footer.jade
    
