- var mUser = inpUser
- var content = inContent
- var template = content.template

html
  head
    link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    div#wrapper
      div#header
        include ./Wrap/header
      div#container
        div#navigation
          include ./Wrap/hNav
        div#leftcolumn
          include ./Wrap/navigationBar
        div#rightcolumn
          case template
            when "main"
              include ./includes/mainContent
            default
              include ./includes/content
      div#footer
        include ./Wrap/footer
    
