* {
  margin: 0px;
}

.nav{
  width: 120px;
  float: left;
  background-color: #d9d9d9;
  height: inherit;
  padding: 15px;
}

.nav2{
  width: 120px;
  float: right;
  background-color: #d9d9d9;
  height: inherit;
  padding: 15px;
}

.nav2 input{
  width: 100%;
}

.main{
  margin-left: 150px;
  padding: 20px;
  height: inherit;
}

.headerTitle{
  font-size: 30;
  text-align: center;
}
.subHeaderTitte{
  font-size: 22;
  text-align: center;
}

#wrap{
  height: 100%;
  width: 1500px;
}

#footer{
  width: 1500px;
  height: 5%;
  background-color: #d9d9d9;
}

#header{
  height: 10%;
  background-color: #d9d9d9;
  clear: both;
}

#hNav{
  margin-left: 150px;
  width: 1194px;
  height: 30px;
  background-color: #d9d9d9;
  border-style: solid;
  border-radius: 1px;
}

#hNav td{
  width: 150px;
}

#charTable{
  border-collapse: collapse;
}


#charTable td{
  width: 50px;
  border-style: solid;
  border-width: 1px;
}

#charTable td input{
  width: 50px;
}

#container{
  height: 95%;
}


#AttributeTable td{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}
#AttributeTable{
  border-collapse: collapse;
}

ul{
  padding-left: 10px;
}

.classText{
  color: grey;
}

.comment{
  font-style: italic;
  color: #bfbfbf;
}

.inputWrap{
  padding: 10px;
}
