* {
  padding: 0;
  margin: 0;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper {
 margin: 0 auto;
 width: 922px;
}
#header {
 color: #cccccc;
 width: 900px;
 float: left;
 padding: 10px;
 border: 1px 1px 0px 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 0px 0px;
 background:#333333;
}
#navigation {
 float: left;
 width: 900px;
 color: #cccccc;
 padding: 10px;
 border: 0px 1px 1px 1px solid #ccc;
 margin: 0px 0px 5px 0px;
 background-color:#333333;
}
#leftcolumn {
 color: #333;
 border: 1px solid #ccc;
 background:#ffffff;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 500px;
 width: 195px;
 float: left;
}
#rightcolumn {
 float: right;
 color: #333;
 border: 1px solid #ccc;
 background:#ffffff;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 500px;
 width: 678px;
 display: inline;
}
#footer {
 width: 900px;
 clear: both;
 color: #cccccc;
 border: 1px solid #ccc;
 background-color:#333333;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

ul{
  padding: 5px 10px;
  list-style-type: none;
}

#LoginWrapper{
}

#LoginWrapper form{
    padding: 5px 10px;
}

.inputWrapper{
  padding: 5px;
}

/*LINKS*/

a:link {
  color: #00b300;
  text-decoration: none;
}

a:visited {
  color: #00b300;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: 00b300;
}

a:active {
  color: #00b300;
  text-decoration: none;
}

/*HNav*/

#navigation a:link {
  color: #ccc;
  text-decoration: none;
}

#navigation a:visited {
  color: #ccc;
  text-decoration: none;
}

#navigation a:hover {
  color: #333;
  text-decoration: none;
  background-color: ccc;
}

#navigation a:active {
  color: #ccc;
  text-decoration: none;
}

#navigation li{
  display: inline;
}

#navigation li::before{
  content: '|';
  padding: 0 0.5em 0 0.3em;
  color: #ccc;
}

/*Content*/

#rightcolumn h1{
  margin: 0.1em 0.1em 0.4em 0.1em;
}


#rightcolumn h2{
  margin: 0.3em 0.1em 0.2em 0.1em;
}

#rightcolumn div{
  margin: 0.3em 0.1em 0.2em 0.1em;
}

#rightcolumn td.stat{
  width: 50px;
}

#rightcolumn td.val{
  width: 30px;
}

#AttributeTable{
  font-size: 14px;
  color: #333;
}

#AttributeTable td.inp{
  padding-right: 5px
}

input.col{
  background-color: #d9d9d9;
  border: none;
  color: #333;
  padding: 0px 1px;
}

#AttributeTable input{
  width: 50px;
}
