- var logedin = loged_input          
#dolphincontainer
  #dolphinnav
    ul
      li
        a(href="/nav/main")
          span Main Section
      if logedin
        li
          a(href="/nav/yourAccount")
            span Your Account
      if !logedin
        li
          a(href="/nav/createAccount")
            span Create account
      if logedin
        li
          a(href="/nav/newEntry")
            span New Entry
