- var logedin = logedInput
- var Categories = ["Shroom Monsters", "Hive Mind", "Shapeless", "Deities"]

mixin listref(url, name)
  li
    div
      a(href="/nav" + url)= name
      
mixin categorylink(name)
  li
    div
      a(href="/nav/Category/" + name)= name
    
div#LoginWrapper
  if logedin
    div welcome 
      b= mUser.name
    form(action="/account/logout")
      input(type="submit", value="Logout")
  else
    form(action="/account/login" method = "post")
      div Log in
      div.inputWrapper
        input(type="text", name="login")
      div Password
      div.inputWrapper
        input(type="password", name="password")
      div.inputWrapper
        input(type="submit", value="Login")

hr

div#navigationWrapper
  ul
    each val in Categories
      mixin categorylink(val)
  hr
  
  ul
    mixin listref("/Browse", "Browse Categories")
        
