- var logedin = loged_input

mixin listref(url, name)
  li
    a(href="/nav" + url)= name
    
div#LoginWrapper
  if logedin
    div= "welcome " + mUser.name
    form(action="/account/logout")
      input(type="submit", value="Logout")
  else
    form(action="/account/login" method = "post")
      div Log in
      div.inputWrapper
        input(type="text", name="login")
      div Password
      div.inputWrapper
        input(type="password", name="password")
      div.inputWrapper
        input(type="submit", value="Login")

hr

div#navigationWrapper
  ul
    mixin listref("/main", "Welcome")
    li Shroom Monsters
      ul
        mixin listref("/theShroomCarrier", "The Shroom Carrier")
        mixin listref("/shroomling", "Shroomling")
    li Hive Mind 
      ul   
        mixin listref("/nahra", "Nah'ra")
        mixin listref("/nahma", "Nah'ma")
        mixin listref("/nahka", "Nah'ka")
    li Shapeless
      ul
        mixin listref("/shapeless", "Shapeless")
    li Deities
      ul
        mixin listref("/endlessWastness", "Endless Wastness")
        
