mixin tableEntry(stat, val)
  td.stat= stat + ": "
  td.val= val


table#AttributeTable
  thead
  tbody
    tr
      mixin tableEntry("ST", content.AttributeTable.ST)
      mixin tableEntry("HP", content.AttributeTable.HP)
      mixin tableEntry("Speed", content.AttributeTable.Speed)
    tr
      mixin tableEntry("DX", content.AttributeTable.DX)
      mixin tableEntry("Will", content.AttributeTable.Will)
      mixin tableEntry("Move", content.AttributeTable.Move)
    tr
      mixin tableEntry("IQ", content.AttributeTable.IQ)
      mixin tableEntry("Per", content.AttributeTable.Per)
      mixin tableEntry("SM", content.AttributeTable.SM)
    tr
      mixin tableEntry("HT", content.AttributeTable.HT)
      mixin tableEntry("FP", content.AttributeTable.FP)
      mixin tableEntry("Pr", content.AttributeTable.Pr)
    tr
      mixin tableEntry("Dodge", content.AttributeTable.Dodge)
      mixin tableEntry("Parry", content.AttributeTable.Parry)
      mixin tableEntry("DR", content.AttributeTable.DR)
